.home {
  height: 100%;

  .nav {
    height: 50px;
    line-height: 50px;
    padding: 0 8px;
  }

  .content-box {
    height: calc(100% - 50px);
    overflow: hidden;

    .content {
      height: 100%;
      overflow: auto;
      position: relative;
      box-sizing: border-box;
      background-color: #fff;
    }
  }
}
