.react-flow__node {
  padding: 0 !important;
  border-width: 0 !important;

  & .flow-diagram-node {
    color: #fff;
    padding: 4px;
    font-size: 12px;
    box-sizing: content-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #686868;
  }

  & .flow-diagram-node.start,
  & .flow-diagram-node.end {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    border-color: #f45858;
    background-color: #f29191;
  }

  & .flow-diagram-node.square {
    min-width: 80px;
    min-height: 40px;
    border-radius: 5px;
    border-color: #2abb70;
    background-color: #4fe698;
  }

  & .flow-diagram-node.diamond {
    width: 60px;
    height: 60px;
    border-width: 0;
    position: relative;

    & .bg {
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: -100;
      transform: rotate(45deg);
      border-radius: 3px;
      border: 1px solid #38cdde;
      background-color: #67edfc;
    }

    & .label {
      z-index: 100;
    }
  }
}

.react-flow__node.selected {
  & .flow-diagram-node.start,
  & .flow-diagram-node.end,
  & .flow-diagram-node.diamond .bg,
  & .flow-diagram-node.square {
    border-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 1);
  }
}
