.flow-editor-dnd {
  display: flex;
  height: 100%;
  overflow: hidden;

  .sidebar {
    font-size: 12px;
    background: #fcfcfc;

    .dnd-node-wrapper {
      cursor: grab;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      border-radius: 5px;
      margin-bottom: 10px;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .flow-wrapper {
    flex-grow: 1;
    height: 100%;

    .react-flow__node {
      padding: 0 !important;
      border-width: 0 !important;
    }

    .react-flow__node.selected {
      .node.start,
      .node.end,
      .node.judgment::after,
      .node.process {
        border-color: #272dea;
        box-shadow: 0 2px 12px 0 rgba(39, 45, 234, 0.2);
      }
    }
  }
}

.flow-editor-dnd {
  .node {
    color: #fff;
    padding: 4px;
    font-size: 12px;
    box-sizing: content-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #686868;
  }

  .node.start {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border-color: #c19402;
    background-color: #ffc400;
  }

  .node.process {
    min-width: 80px;
    min-height: 40px;
    border-radius: 5px;
    border-color: #2abb70;
    background-color: #4fe698;
  }

  .node.judgment {
    width: 60px;
    height: 60px;
    border-width: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: -1;
      transform: rotate(45deg);
      border-radius: 3px;
      border: 1px solid #3eabda;
      background-color: #66d1ff;
    }

    .label {
      z-index: 2;
    }
  }

  .node.end {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border-color: #f45858;
    background-color: #f29191;
  }

  .sidebar .node.judgment::after {
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .flow-editor-dnd {
    flex-direction: column;

    .sidebar {
      width: 100%;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 10px;
      overflow-x: auto;
      overflow-y: hidden;

      .dnd-node-wrapper {
        margin: 0 10px;
        padding: 5px 10px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .flow-editor-dnd {
    flex-direction: row;

    .sidebar {
      width: 20%;
      max-width: 200px;
      padding: 15px 10px;
      overflow-y: auto;
      overflow-x: hidden;
      border-right: 1px solid #eee;

      .dnd-node-wrapper {
        margin: 0 10px;
      }
    }
  }
}
